.founder,
.about-subtittle,
.main-about-history-tittle {
    text-align: center;
}

.about-subtittle,
.main-about-history-tittle {
    font-size: 35px;
    margin: 20px 0;
}

.founder-img {
    width: 180px;
    border-radius: 30%;
    margin: 10px 0;
}

article {
    font-size: 20px;
    padding-top: 40px;
    text-align: justify;
    line-height: 37px;
}

.main-anchor {
    display: block;
    border: 1px solid map-get($colors-btn, light );
    border-radius: 8px;
    color: map-get($colors-btn, light );
    @include width-btn;
    text-align: center;
    margin: 10px auto;
    transition: .2s ease-in all;

    &:hover {
        font-size: 24px;
        border: 1px solid map-get($colors-btn, bg-light);
        color: map-get($colors-btn, bg-light );
        background-color: map-get($colors-btn, light);
    }
}

.main-products {
    background: #f2f2f2;
}