$font-stack: "Bebas Neue", Arial;
$Black: #000;
$First-Color: #f7f7f7;
$White: #ffff;



@import 'header', 'footer', 'main';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: $font-stack; 
    font-size: 26px;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 100%;
}




a{
    color: $Black;
    text-decoration: none;
}



.hidden{
    display: none;
}


.visible{
    display: block;
}